$primary-color: #672280;
$secondary-color: #A626D3;
$font-family-primary: 'Karla', sans-serif;
$font-family-secondary: 'Inter', sans-serif;
$font-weight-title: 500;
$font-color: white;
$font-body-color: #0D0D0D;
$border-color: #D5D4D8;