.form {
    padding-top: 140px;
    display: grid;
        grid-template: 40px 40px / 1fr 1fr;
        gap: 17px;
    &--input {
        border: 1px solid $border-color;
        @include border-radius(5px);
        font-family: $font-family-secondary;
        text-indent: 5px;
    }
    &--button {
        height: 40px;
        @include linear-gradient($primary-color, $secondary-color);
        border-radius: 5px;
        border: none;
        color: $font-color;
        grid-column: 1 / -1;
        cursor: pointer;
    }
}

